
<div class="content_body_div">

    <ul id="retrieved_image_ul">
        <li>ch1</li>
        <li>ch2</li>
        <li>ch3</li>
        <li>ch4</li>
    </ul>

    <div id="in_image_div">
        <p>XY=1</p>
        <table class="retrieved_image_table">
            <tr>
                <th></th>
                <th>Z1</th>
                <th>Z2</th>
                <th>Z3</th>
            </tr>
            <tr>
                <th>T1</th>
                <td><img src="~/Content/malus109.tif" /></td>
                <td><img src="~/Content/malus109.tif" /></td>
                <td><img src="~/Content/malus109.tif" /></td>
            </tr>
            <tr>
                <th>T2</th>
                <td><img src="~/Content/malus109.png" /></td>
                <td><img src="~/Content/malus109.png" /></td>
            </tr>
            <tr>
                <th>T3</th>
                <td><img src="~/Content/malus109.png" /></td>
                <td><img src="~/Content/malus109.png" /></td>
            </tr>
            <tr>
                <th>T4</th>
                <td><img src="~/Content/malus109.png" /></td>
                <td><img src="~/Content/malus109.png" /></td>
            </tr>
        </table>

        <p>XY=2</p>
        <table class="retrieved_image_table">
            <tr>
                <th></th>
                <th>Z1</th>
                <th>Z2</th>
                <th>Z3</th>
            </tr>
            <tr>
                <th>T1</th>
                <td><img src="~/Content/malus109.png" /></td>
                <td><img src="~/Content/malus109.png" /></td>
                <td><img src="~/Content/malus109.png" /></td>
            </tr>
            <tr>
                <th>T2</th>
                <td><img src="~/Content/malus109.png" /></td>
                <td><img src="~/Content/malus109.png" /></td>
            </tr>
            <tr>
                <th>T3</th>
                <td><img src="~/Content/malus109.png" /></td>
                <td><img src="~/Content/malus109.png" /></td>
            </tr>
            <tr>
                <th>T4</th>
                <td><img src="~/Content/malus109.png" /></td>
                <td><img src="~/Content/malus109.png" /></td>
            </tr>
        </table>

    </div>
</div>